input[type="datetime-local"] {
    appearance: textfield;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid lightgray;
    padding: 5px;
    text-align: center;
}

.custom-button { 
    border-radius: 25px 25px 25px;
    padding: 8px 60px;
    margin: 0;
    color: rgb(250, 250, 254);  
    background-color: #045d62; 
    border: 2px solid #33ffda; 
  }
  
.custom-button:hover {
    background-color: #13b3bc;
    color: rgb(3, 3, 26);
    border: solid 1px #b7f2f9;
  }
  
.bg-color {
    background-color: #045d62;
    color: #fff; 
}

.error-box {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #af0101; 
    border: 2px solid #f19393; 
    border-radius: 10px;
    padding: 25px 80px; /* Adjust the padding to control the width and height */
    color: white;
    font-size: 18px;
    text-align: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 9999; /* Ensure it appears on top of other elements */
}

.error-content {
    text-transform: capitalize;
}

.required-field::before {
    content: " *";
    color: red; /* You can adjust the color as needed */
}
