.custom-button-Add{
    border-radius: 5px 5px 5px;
    padding: 8px 30px;
    margin: 0;
    color: rgb(250, 250, 254);  
    background-color: #045d62; 
    border: 2px solid #33ffda; 
  }
  
  .custom-button-Add:hover {
    background-color: #00a4ac;
    color: rgb(3, 3, 26);
    border: solid 1px #b7f2f9;
  }

  .search-box {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    /* border-radius: none; */
    padding: 5px;
    width: 300px;
}

.cutom-search-input {
    flex: 1;
    padding: 8px;
    border-radius: none;
}
.custom-search-button {
    color: rgb(250, 250, 254); 
    background-color: #045d62; 
    border: 2px solid #33ffda; 
    padding: 10px 20px;
}

.custom-search-button:hover {
    background-color: #00a4ac;
    color: rgb(3, 3, 26);
    border: solid 1px #b7f2f9;
}

  .custom-button-warning{
    border-radius: 5px 5px 5px;
    padding: 8px 20px;
    margin: 0;
   
    color: rgb(12, 12, 23);  
    background-color: #f1911b; 
    border: 2px solid #ffad41; 
  }
  
  .custom-button-warning:hover {
    background-color: #fdc693;
    color: rgb(3, 3, 26);
    border: solid 1px #b7f2f9;
  }

  .custom-button-danger{
    border-radius: 5px 5px 5px;
    padding: 8px 20px;
    margin: 0;
   
    color: rgb(250, 250, 254);  
    background-color: #af0101; 
    border: 2px solid #f19393; 
  }
  
  .custom-button-danger:hover {
    background-color: #f56656;
    color: rgb(255, 255, 255);
    border: solid 1px #c9e8eb;
  }

.custom-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; 
    vertical-align: middle;
  }
  
  .custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .custom-table tr:nth-child(odd) {
    background-color: #fff;
  }
  
  .custom-table td {
    border: 1px solid #ddd;
    padding: 3px;
    text-align: center; 
    vertical-align: middle;
}
