<div class="container">
    <div class="row justify-content-between">
        <div class="col-auto">
            <button type="button" class="custom-button-Add" (click)="addNewEmp()">Add Employee</button>
        </div>
        <div class="col-auto">
            <div class="search-box">
                <input type="text" placeholder="Search..." class="cutom-search-input" [(ngModel)]="serchBy"
                    (input)="getAllemployeesDetail()">
                <button class="custom-search-button">Search</button>
            </div>
        </div>
    </div>
</div>
<br>
<div>
    <table class="custom-table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Employee ID</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Branch</th>
                <th scope="col">Job Type</th>
                <th scope="col">Job Role</th>
                <th scope="col">Department</th>
                <th scope="col">Work Type</th>
                <th scope="col">Joining Date</th>
                <th scope="col">Email Id</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="getAllemployeesDetail().length == 0" appHighlight>
                <td colspan="19" style="text-align:center;">
                    {{ "No Employee Added..." }}
                </td>
            </tr>
            <tr *ngFor="let empDetail of getAllemployeesDetail(); let i = index" appHighlight>
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ empDetail.firstName + " " + empDetail.lastName }}</td>
                <td>{{ empDetail.employeeUniqueID }}</td>
                <td>{{ empDetail.contactNumber }}</td>
                <td>{{ empDetail.branch }}</td>
                <td>{{ empDetail.jobType }}</td>
                <td>{{ empDetail.jobRole }}</td>
                <td>{{ empDetail.department }}</td>
                <td>{{ empDetail.workType}}</td>
                <td>{{ empDetail.joiningDate | date: 'MMM dd, yyyy' }}</td>
                <td>{{ empDetail.emailId}}</td>
                <td>
                    <button type="button" class="custom-button-warning"
                        (click)="updateEmployeeDetail(empDetail, true)">Edit</button>
                </td>
                <td>
                    <button type="button" class="custom-button-danger"
                        (click)="deleteEmployeeDetail(empDetail)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
