<div class="p-3 m-0 border-0 bd-example m-0 border-0">
    <h3 class="mb-4 bg-color" style="text-align: center; padding: 6px;">{{ updateEmp ? "Update Employee Information":
        "Add New Employee"}}</h3>
    <div class="container mt-2" style="background-color: rgb(206, 238, 238);">

        <fieldset>
            <legend>Personal Information</legend>
            <div class="row">
                <div class="col">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" [(ngModel)]="pageInput.firstName" id="firstName"
                        name="firstName" placeholder="First Name">
                </div>
                <div class="col">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" [(ngModel)]="pageInput.lastName" id="lastName"
                        name="lastName" placeholder="Last Name" required>
                </div>
            </div>
            <div class="row mt-2 mb-1">
                <div class="col">
                    <label for="employeeId">Employee ID</label>
                    <input type="text" class="form-control" [(ngModel)]="pageInput.employeeUniqueID" id="employeeId"
                        name="employeeId" placeholder="Employee Unique ID" [disabled]="updateEmp">
                </div>
                <div class="col">
                    <label for="contactNumber">Contact Number</label>
                    <input type="text" class="form-control" [(ngModel)]="pageInput.contactNumber" id="contactNumber"
                        name="contactNumber" placeholder="contactNumber">
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend class="mb-3">Employment Information</legend>
            <div class="row mt-2">
                <div class="col">
                    <p class="bs-text-8 mb-0">
                        Select Branch
                    </p>
                    <ng-select id="branch" name="selectedBranch" [multiple]="false" placeholder="choose branch..."
                        [(ngModel)]="pageInput.branch" [selectOnTab]="true" dropdownPosition="bottom">
                        <ng-option *ngFor="let branch of branchOptions" [value]="branch">{{ branch }}</ng-option>
                    </ng-select>
                </div>

                <div class="col">
                    <p class="bs-text-8 mb-0">
                        Select Job Type
                    </p>
                    <ng-select id="jobType" [(ngModel)]="pageInput.jobType" name="selectedJobType"
                        [placeholder]="'Choose Work Type'" [selectOnTab]="true" dropdownPosition="bottom">
                        <ng-option *ngFor="let jobType of jobTypeOptions" [value]="jobType">{{ jobType }}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label for="role">Role</label>
                    <input type="text" class="form-control" [(ngModel)]="pageInput.jobRole" id="role" name="role"
                        placeholder="Role">
                </div>

                <div class="col">
                    <label for="department">Department</label>
                    <input type="text" class="form-control" [(ngModel)]="pageInput.department" id="department"
                        name="department" placeholder="Department">
                </div>
            </div>
            <div class="row mt-2">

                <div class="col">
                    <p class="bs-text-8 mb-0">
                        Joining Date
                    </p>
                    <input type="datetime-local" placeholder="date" class="bs-form-control" id="joiningDate"
                        [ngModel]="pageInput.joiningDate | date:'yyyy-MM-ddTHH:mm'"
                        (ngModelChange)="pageInput.joiningDate = $event">
                </div>
                <div class="col">
                    <label for="emailId">EmaiId</label>
                    <input type="text" class="form-control" [(ngModel)]="pageInput.emailId" id="emailId" name="emailId"
                        placeholder="email Id">
                </div>

            </div>
        </fieldset>

        <fieldset>
            <div class="row mt-2">
                <p class="bs-text-8 mb-0">
                    Select Work Type
                </p>
                <ng-select id="workType" name="workType" class="bs-form-control-ng-select mb-1" [multiple]="false"
                    [selectOnTab]="true" dropdownPosition="bottom" [(ngModel)]="pageInput.workType"
                    placeholder="Choose Work Type">
                    <ng-option *ngFor="let workType of workTypeOptions" [value]="workType">{{ workType }}
                    </ng-option>
                </ng-select>
            </div>
        </fieldset>
        <div class="d-flex justify-content-center mt-2">
            <button type="submit" class="btn custom-button mb-2" [disabled]="disabledAddButton()"
                (click)="onAddEmployeeDetails()">{{ updateEmp?
                'Update':'Add'}}</button>
        </div>
    </div>
</div>
<div *ngIf="showError" class="error-box">
    <div class="error-content">
        {{ errorMsg }}
    </div>
</div>